@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background: #00abf0;
    color: #081b29;
}

body {
    flex-direction: column;
    height: 110%;
    width: 100%;
    color: #ededed;
    background-color: black;
    display: flex;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

@media all and (max-width:1192px) {
  .header {
    flex-direction: column;
    height: auto;
    position: sticky;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
  }

  .home-sci {
    margin-bottom: 20px;
  }

  body {
    flex-direction: column;
    flex-direction: column;
  }
}

@media all and (max-width:716px) {
  .navbar {
    flex-direction: column;
  }
}

.logo {
    position: relative;
    margin-right: 20px;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

/*Boutons YouTube, Insta et Tiktok*/
.home-sci {
  position: relative;
  top: 0px;
  margin-right: 20px;
  bottom: 40px;
  width: 170px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

/*Bouton YouTube*/
a[href="https://www.youtube.com/@La_machieta/featured"]:hover {
  color: #FF0000;
  background: white;
}

a[href="https://www.youtube.com/@La_machieta/featured"]::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: .5s;
}

a[href="https://www.youtube.com/@La_machieta/featured"]::before {
  width: 100%;
}

/*Bouton Insta*/
a[href="https://www.instagram.com/lamachieta/"]:hover {
color: #FD01D0;
background: white;
}

a[href="https://www.instagram.com/lamachieta/"]::before {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: #ffffff;
z-index: -1;
transition: .5s;
}

a[href="https://www.instagram.com/lamachieta/"]::before {
width: 100%;
}

/*Bouton TikTok*/
a[href="https://www.tiktok.com/@lamachieta"]:hover {
color: #d6d6d6;
}

a[href="https://www.tiktok.com/@lamachieta"]::before {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
z-index: -1;
transition: .5s;
}

a[href="https://www.tiktok.com/@lamachieta"]::before {
width: 100%;
}

/*Barre de navigation*/
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/*Première partie de la page*/
/*
.home {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 40px 80px 10%;
  height: 1200px;
  opacity: 1;
  z-index: 1;
}
*/

/* .home:hover {
  animation: survol 1s ease-in-out;
  opacity: 1;
}

@keyframes survol {
	from { 
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
}

.home:not(:hover) {
  animation: enlèvement 1s ease-in-out;
  opacity: 0.3;
}

  @keyframes enlèvement {
    from { 
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  } */

.home-content {
    z-index: 2;
}

/*Animation du gros titre h1*/
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
/*

  
  body {
    flex-direction: column;
    margin: 0;
    font: 100% / 1.5 Raleway, sans-serif;
    color: hsl(230, 100%, 95%);
    height: 100vh;
    display: flex;
  }
  
.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin: auto;
    animation: lights 5s 750ms linear infinite;
    animation-delay: 0s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    animation: apparition 8.0s ease-out;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 30px;
    animation: apparition 10.0s ease-out;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    animation: apparition 12.0s ease-out;
}
*/

/*Boutons "Mon mail" et "Mon Insta"*/
/*
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    box-shadow: 0 0 0 0 rgba(112, 61, 232, 0.7);
    -webkit-animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 3s infinite cubic-bezier(0.66, 0, 0, 1);
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
*/
/*
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
*/

/*Animation découverte de la deuxième partie de page*/



/* KEYFRAMES ANIMATION */
/*@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

@keyframes apparition {
	from { 
		opacity: 0;
		transform: translateY(-200pxpx);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}*/


/*Deuxième partie de la page*/
/*
.présentations {
  background-size: 1000px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 80px 80px 40px;
  height: 1200px;
  opacity: 1;
  z-index: 1;
}


/* .présentations:hover {
  animation: survol 1s ease-in-out;
  opacity: 1;
}

@keyframes survol {
	from { 
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
}

.présentations:not(:hover) {
  animation: enlèvement 1s ease-in-out;
  opacity: 0.3;
}

  @keyframes enlèvement {
    from { 
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  } */
  
/*
.présentations-content {
  max-width: 1600px;
  z-index: 1;
}
*/


/*
.présentations-content h1 {
  position: relative;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin: auto;
  animation: apparition 20s;
  animation: lights 5s 750ms linear infinite;
  animation-delay: 0s;
}
*/

/*.présentations-content h3 {
  position: relative;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
  animation: apparition 20s;
}

.présentations-content p {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin: 20px 0 40px;
  animation: apparition 20s;
}
*/

/*
.présentations-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
*/

/*Animation "glitch"*/
footer h5 {
  bottom: 0;
  left: 0;
  padding: 10px 10%;
  background-color: black;
  font-family: "Rage Italic V2";
  font-size: 30px;
  color: #650072;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  z-index: 3;
}

.signature p {
  font-family: "Rage Italic V2";
  font-size: 50px;
  color: #FD01D0;
}


/* MODIF FAIT PAR THEO G. */

/* COULEUR DU MOT CHANGEANT */
.wrap{
  color: #FF6600;
}

/* BOUTON RETOUR HAUT DE PAGE */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00abf0;
  color: white;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 70px; /* Bord arrondi pour un look moderne */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre pour donner de la profondeur */
  transition: background-color 0.3s, transform 0.3s; /* Transition douce pour les effets de survol */
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

#myBtn:hover {
  background-color: #0095d5; /* Une nuance légèrement plus foncée de bleu pour l'effet de survol */
  transform: translateY(-3px); /* Légère élévation du bouton lors du survol */
}

#myBtn:active {
  transform: translateY(0); /* Réinitialiser la position du bouton lorsqu'il est cliqué */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Réduire l'ombre pour donner l'illusion que le bouton est enfoncé */
}

/* ECRAN DE CHARGEMENT */

/* EN COURS DE DEV :) */


/* 2eme PARTIE DU SITE */
.présentations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: black;
  flex-wrap: wrap; /* Permettre aux cartes de se replier si nécessaire */
}

.card {
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Bordure légèrement visible sur fond noir */
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.2);
  max-width: calc(50% - 20px); /* Deux cartes côte à côte avec un peu d'espacement */
  width: 100%;
  background-color: black; /* Fond noir */
  margin: 10px; /* Espacement entre les cartes */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  color: white; /* Couleur du texte blanc par défaut */
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.3);
  transform: translateY(-5px);
}

.card h1, .card h3 {
  font-family: 'Poppins', sans-serif;
}


.card h1 {
  margin-bottom: 25px;
  font-size: 2.2em;
  color: #f0f0f0;
  font-weight: 600;
  text-align:center;
  animation: lights 5s 750ms linear infinite;
  animation-delay: 0s;
}

.card h3 {
  margin-bottom: 20px;
  color: #c0c0c0;
  font-weight: 500;
}

.card p {
  line-height: 1.7;
  font-size: 1.1em;
  text-align: justify;
}

.signature {
  text-align: right;
  font-style: italic;
  margin-top: 30px;
  color: #888;
}


.home {
  background: url('https://loicpierrot.com/wp-content/uploads/2022/01/MONTAGE-VIDEO-LOIC-2-scaled.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Pour positionner l'overlay */
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Superposition noire transparente pour améliorer la lisibilité du texte */
  z-index: 1;
}

.home-content {
  position: relative; /* Pour s'assurer que le contenu est au-dessus de l'overlay */
  z-index: 2;
  max-width: 800px;
  text-align: center;
}

.home h1 {
  font-size: 3.5em;
  margin-bottom: 15px;
  font-weight: 700;
}

.home h2 {
  font-size: 2.5em;
  margin-bottom: 25px;
}

.home h3 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #e91e63; /* Une couleur contrastante pour le sous-titre */
}

.home p {
  font-size: 1.4em;
  margin-bottom: 30px;
}

.cta-section {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espace entre les boutons */
}

.pulse-button.btn-box a {
  display: inline-block;
  padding: 12px 25px;
  border: 2px solid #e91e63; /* Bordure colorée */
  background-color: transparent; 
  color:white; /* Couleur du texte */
  border-radius: 25px; /* Bordures entièrement arrondies */
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  /* Ombre pour ajouter un effet de profondeur */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  margin-left:5%;
}

.pulse-button.btn-box a:hover {
  background-color: #e91e63; 
  color: #fff; /* Inversion des couleurs au survol */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Ombre plus grande au survol */
}

div.signature-container {
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  display:flex
}

.signature-container path {
  stroke-dasharray: 20000;
  stroke-dashoffset: 20000;
}

.signature-container path[style] {
  stroke-width: 20px !important;
  stroke: rgb(255, 255, 255) !important;
}

.signature-container svg{
  width: 20%;
  height: 20%;
}

svg#svg8{
  height:auto;
}
.header {
    padding: 10px 5%;  /* Reduced padding for smaller screens */
}

.logo {
    font-size: 18px;  /* Reduced font size for smaller screens */
    margin-right: 10px;  /* Reduced margin for smaller screens */
}

@media all and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar a {
        margin-bottom: 10px;  /* Add some spacing between nav items */
    }
}

@media all and (max-width:480px) {
    .header {
        padding: 5px 2%;  /* Further reduced padding for very small screens */
    }
    .logo {
        font-size: 16px;  /* Further reduced font size for very small screens */
        margin-right: 5px;  /* Further reduced margin for very small screens */
    }
}
